*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.qr{
  
    position: absolute;
    align-items: center;
    margin: 10px;
    height: 820px;
 border-radius: 20px;
    border: 20px solid rgb(180, 180, 180);
}
.ar{
    min-width: none;
    border: 50px;
    
}
.art h1{
    font-weight: bold;
}
.art p{
    font-size: 24px;
    color: rgb(165, 165, 167);
}
.art{
    text-align: center;
  
   
}